@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 20%;
  justify-content: center;
  line-height: 2.5;

}


.boton {
  background-color: #facc15;
  border-radius: 0.25rem;
  padding: 10px;
  width: fit-content;
  font-weight: bolder;
  color: black;
}

.boton:hover {
  background-color: rgb(251 191 36);
  border-radius: 0.25rem;
  padding: 10px;
  width: fit-content;
  font-weight: bolder;
  color: black;
  text-decoration: underline;
  
}



.botonForm {
  background-color: rgb(8 51 68);
  padding: 10px;
  width: fit-content;
  font-weight: bolder;
  color: rgb(255, 255, 255);
}
.botonForm:hover {
  background-color:rgb(22 78 99);
  padding: 10px;
  width: fit-content;
  font-weight: bolder;
  color: rgb(255, 255, 255);
}

.botonNav {
  background-color: #facc15;
  border-radius: 0.25rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  width: fit-content;
  color: black;
}

.botonNav:hover {
  background-color: rgb(251 191 36);
  border-radius: 0.25rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  width: fit-content;
  color: black;
  text-decoration: underline;
}

h1 {
  font-size: 36px;
  margin-top: 34px;
  font-weight: bold;
  display: flex;
  text-align: center;
  margin-top: 2px;
  margin-bottom: 2px;
  color: rgb(8 51 68)
}

h2 {
  font-size: 28px;
  font-weight: bold;
  display: flex;
  text-align: center;
  line-height: 36px;
  margin-bottom: 2px;
  margin-top: 2px;
  color: rgb(8 51 68)
}

h3 {
  font-size: 28px;
  font-weight: bold;
  line-height: 35px;
  display: flex;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  color: rgb(8 51 68);
}
h4 {
  font-size: 20px;
  line-height: 35px;
  display: flex;
  text-align: center;
  margin-top: 2px;
  margin-bottom: 2px;
  color: rgb(8 51 68);
}

hr {
height: 3px;
border: 3px;
background-color: #facc15;
margin-top: 2px;
margin-bottom: 2px;
width: 30%;
}

.centrar h2  {
  margin-left: auto;
  margin-right: auto;
  
}
.centrar h3  {
  margin-left: auto;
  margin-right: auto;
  
}
.centrar hr {
  margin-left: auto;
  margin-right: auto;
  
}
.centrar h4 {
  margin-left: auto;
  margin-right: auto;
  
}